@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--darker: #0F044C;
	--dark: #141E61;
	--gray: #787A91;
	--light-gray: #EEEEEE;
	--shadow: #c1c1c1a8;
	/* --light-gray: #eaeaea; */
}

.app {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	background: var(--light-gray);
	width: 100%;
	height: 60px;
	color: white;
	box-shadow: 0 5px 10px var(--shadow);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	color: var(--dark);
	z-index: 1000;
}

nav .left, nav .right {
	display: flex;
	align-items: center;
}

nav .searchbar {
	margin-left: 50px;
}

.inputbar {
	display: flex;
	background: white;
	padding: 8px 20px;
	border-radius: 10px;
	gap: 15px;
	align-items: center;
}

.inputbar input {
	border: none;
	font-size: 1rem;
	outline: none;
	min-width: 200px;
	width: 200px;
	transition: all 150ms ease;
}

.inputbar button {
	background: var(--darker);
	color: white;
	border-radius: 5px;
	padding: 4px 10px;
	border: none;
	font-size: 1rem;
	transition: all 150ms ease;
	cursor: pointer;
}

.inputbar .button-other {
	background: orange;
	color: white;
	border-radius: 5px;
	padding: 4px 10px;
	border: none;
	font-size: 1rem;
	transition: all 150ms ease;
	cursor: pointer;
}

.inputbar button:hover {
	background: var(--dark)
}
.inputbar .button-other:hover {
	background: rgb(160, 104, 0);
}

.searchbar-other {
	border: 1px solid gray;
	width: 80%;
}

.searchbar-other input {
	width: 100%;
}

.searchbar:not(.searchbar-other) input:focus,
.searchbar:not(.searchbar-other) input:not(:placeholder-shown) {
	width: 500px;
	max-width: 500px;
}

.keywords {
	margin-left: 25px;
	font-size: 1.4rem;
	line-height: 2rem;
}

.topics li:not(:last-child) {
	margin-bottom: 20px;
}

nav .right .user {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-left: 20px;
}

nav .user i {
	font-size: 2rem;
}

nav a {
	color: black;
	text-decoration: none;
}

.app-container {
	width: 100%;
	flex: 1;
	display: flex;
	overflow: auto;
}

.document-sidebar {
	height: 100%;
	min-width: 250px;
	width: 250px;
	background: var(--light-gray);
	box-shadow: 5px 0 10px var(--shadow);
	transition: all 150ms ease;
}

.document-sidebar.contracted {
	width: 60px;
	min-width: 50px;
	padding: 0;
	margin: 0;
}
.document-sidebar.contracted h2 {
	display: none;
}
.document-sidebar.contracted .document-list {
	display: none;
}

.document-sidebar ul {
	margin-top: 20px;
}

.document-sidebar ul li {
	list-style: none;
	background: white;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	margin-bottom: 2px;
}

.main-document {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main-document .toolbar {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	gap: 10px;
}

.main-document .toolbar button {
	background: rgb(236, 236, 236);
	color: black;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.428);
	outline: none;
	padding: 5px;
}

.main-document .toolbar button.clicked {
	background: rgb(206, 206, 206);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.499);
}

.main-document .document-view {
	flex: 1;
	overflow: auto;
	position: relative;
}

.subtitle-bar {
	/* position: sticky; */
	top: 0;
	width: 80%;
	background: white;
	margin-left: 20px;
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 10px;
	box-shadow: 0 4px 4px white;
}

.main-document .text-viewer {
	padding: 0 20px 20px 20px;
	overflow: auto;
}

.main-document .pdf-viewer {
	width: calc(100% - 15px);
	height: 100%;
	margin-left: 15px;
}

.main-document .video-viewer {
	width: calc(100% - 15px);
	height: 400px;
	margin-left: 15px;
}

.main-document .full-text-viewer {
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	margin-left: 15px;
	border: 4px solid gray;
	padding: 20px;
	box-shadow: inset 0 0 3px rgb(120, 120, 120);
	overflow: auto;
}

.side-content {
	height: 100%;
	flex: 0.6;
	background: var(--light-gray);
	margin-left: 15px;
	box-shadow: -5px 0 10px var(--shadow);
	display: flex;
}

.document-sidebar h3 {
	margin-left: 10px;
	margin-top: 10px;
}

.side-content .content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	flex: 1;
	padding: 20px;
	word-wrap: break-word;
}

.linked-source {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	word-break: break-all;
}

.side-content h2 {
	height: 20px;
}

.side-content .side-content-container {
	flex: 1;
	overflow: hidden;
}

.side-content .side-content-body {
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	max-height: 100%;
	overflow: auto;
}

.side-content .side-content-sidebar {
	width: 60px;
	background: var(--light-gray);
}

.side-content .side-content-sidebar .menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	align-items: flex-start;
}

.side-content .side-content-sidebar .menu li {
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	position: relative;
	transition: all 150ms ease;
	cursor: pointer;
}

.side-content .side-content-sidebar .menu li:hover::after {
	padding: 5px 10px;
	background: black;
	color: white;
	border-radius: 5px;
	font-size: 1rem;
	content: attr(data-tooltip);
	position: absolute;
	left: 0;
	transform: translateX(calc(-100% - 10px));
}

.side-content .side-content-sidebar .menu li.active {
	background: rgb(28, 28, 139);
	color: white;
}

li.new-search:not(:first-child) {
	margin-top: 20px;
}

li.search-option {
	cursor: pointer;
	transition: all 150ms ease;
}
li.search-option.active {
	cursor: pointer;
	background: gray;
	color: white;
}
li.search-option:hover {
	cursor: pointer;
	background: var(--dark);
	color: white;
}

.summary-para:not(:last-child) {
	margin-bottom: 20px;
}

.container-center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 40px;
}

.newsearch-container {
	flex-direction: column;
}

.newsearch-container h2{
	color: var(--darker);
	font-size: 2.5rem;
}

#dragdrop-file {
	width: 80%;
	display: block;
}

.dragdrop {
	margin-top: 20px;
	height: 250px;
	background: var(--light-gray);
	border-radius: 20px;
	border: 2px dashed gray;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	transition: all 150ms ease;
}

.dragdrop:hover {
	background: rgb(225, 225, 225);
}

.dragdrop i {
	font-size: 4rem;
	margin-bottom: 10px;
	color: var(--darker);
}

.bigger {
	font-size: 1.2rem;
	color: var(--darker);
	font-weight: bold;
}

hr {
	color: black;
}

.orDiv {
	margin-top: 20px;
	margin-bottom: 20px;
	color: gray;
	position: relative;
}

.orDiv::after {
	position: absolute;
	left: 30px;
	width: 300px;
	bottom: 50%;
	content: '';
	height: 1px;
	background: gray;
}

.orDiv::before {
	position: absolute;
	right: 30px;
	width: 300px;
	bottom: 50%;
	content: '';
	height: 1px;
	background: gray;
}

.search-options {
	width: 80%;
	display: flex;
	gap: 20px;
}

.search-option-tile {
	flex: 1;
	height: 80px;
	border: 1px solid gray;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 150ms ease;
	border-radius: 10px;
}
.search-option-tile.active {
	background: var(--dark);
	color: white;
	border: 2px solid gray;
}

.textsearch {
	width: 80%;
	border-radius: 10px;
	height: 250px;
	padding: 10px;
	font-size: 1rem;
}

button.full-width {
	width: 80%;
	height: 60px;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	background: orange;
	color: white;
	margin-top: 20px;
	cursor: pointer;
	transition: all 150ms ease;
}

button.full-width:hover {
	background: rgb(163, 106, 0);
}

.linked-sources {
	margin-left: 20px;
}
.linked-sources li:not(:first-child) {
	margin-top: 10px;
}

#input-file-upload {
	display: none;
}

#form-file-upload {
	height: 16rem;
	width: 80%;
	margin-top: 20px;
	text-align: center;
	position: relative;
}

#input-file-upload {
	display: none;
}

#label-file-upload {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 2px;
	border-radius: 1rem;
	border-style: dashed;
	border-color: #cbd5e1;
	background-color: #f8fafc;
}

#label-file-upload i {
	font-size: 3rem;
	color: var(--dark);
}

#label-file-upload.drag-active {
	background-color: gray;
}

.upload-button {
	cursor: pointer;
	padding: 0.25rem;
	font-size: 1rem;
	border: none;
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
}

.upload-button:hover {
	text-decoration-line: underline;
}

#drag-file-element {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.chat-container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	height: 500px;
}

.chat-bubbles {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chat-bubble.gpt-response {
	background: gray;
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
	max-width: 90%;
	margin-right: auto;
}

.chat-bubble:not(.gpt-response) {
	background: var(--dark);
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
	max-width: 90%;
	margin-left: auto;
}

.inputbar-full {
	width: 100%;
	border-top: 1px solid gray;
	border-radius: 0;
	padding: 10px 5px;
}

.inputbar-full input {
	width: 100%;
}

.showall {
	color: blue;
	text-decoration: underline;
	float: right;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
}

.summary-para:first-child {
	margin-top: 20px;
}

.notable {
	position: relative;
	transition: all 150ms ease;
}

.notable:hover {
	padding-bottom: 50px;
}

.notable::after {
	content: 'Note this paragraph';
	position: absolute;
	padding: 8px 10px;
	background: var(--dark);
	color: white;
	border-radius: 5px;
	bottom: 10px;
	left: 0;
	cursor: pointer;
	transition: all 150ms ease;
	opacity: 0;
}

.notable:hover::after {
	opacity: 1;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;	
}

.hamburger {
	/* background: red; */
	width: 25px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.hamburger span {
	width: 25px;
	height: 3px;
	background: gray;
	position: absolute;
	top: 0;
}

.hamburger span:nth-child(2) {
	top: 8px;
}
.hamburger span:nth-child(3) {
	top: 16px;
}